@model IEnumerable<Kurs>
  <h2>Kurs Listesi</h2>
  <hr />
  <a asp-controller="Kurs" asp-action="Create" class="my-2 btn btn-primary"
    >Kurs Ekle</a>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="width: 150px">@Html.DisplayNameFor(m => m.KursId)</th>
        <th>@Html.DisplayNameFor(m => m.Baslik)</th>
        <th style="width: 150px"></th>
      </tr>
    </thead>
    <tbody>
      @foreach(var ogr in Model) {
      <tr>
        <td>@ogr.KursId</td>
        <td>@ogr.Baslik</td>
        <td>
          <a
            asp-action="Edit"
            asp-route-id="@ogr.KursId"
            class="btn btn-sm btn-primary"
            >Edit</a>
          <a
            asp-action="Delete"
            asp-route-id="@ogr.KursId"
            class="btn btn-sm btn-danger"
            >Delete</a>
        </td>
      </tr>
      }
    </tbody>
  </table>
</Kurs>
